@media screen and (max-width: 576px){
    .menu-bar{
        display: none;
    }
    .humburger-menu{
        display: block;
    }
    .humburger-menu i{
        font-size: 22px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        width: calc(100% - 40px);

        /* margin-left: 0;
        margin-right: 0; */
        /* margin: 1.25rem; */
        /* margin: 3.125rem; */
        margin: 3.125rem 1.25rem;
        padding-top: 2rem;
    }
    .header-banner{
        grid-template-columns: repeat(1, 1fr);
    }
    .header-banner h1{
        font-size: 2.5rem;
    }
    .banner-left{
        margin: 0;
        /* width: 352px; */
        height: 335px;
        width: calc(100% - 40px);
        /* gap: 71px; */
        border: 1px solid red;
        margin-left: 20px;
        margin-right: 20px;
        /* margin: 51px 20px 48px 20px; */
    }
    .banner-left > h1{
        width: 17.8rem;
        height: 8.125rem;
    }
    .banner-btn{
        display: flex;
        justify-content: space-between;
        /* border: 2px solid red; */
    }
    .long-join{
        display: none;
    }
    .short-join{
        display: block;
        width: 10.625rem;
    }
    .download-btn{
        width: 10.625rem;
        padding: 1rem 1rem;
    }
    .banner-img{
        width: calc(100% - 40px);
        margin: 30px 20px 0 20px;
    }
    .banner-cart-one{
        width: 8.75rem;
        height: 4.375rem;
        margin-top: -37.25rem;
        margin-left: 13.125rem;
        border: 1px solid red;
    }
    .cart-one-title{
        font-size: 1.825rem;
    }
    .cart-one-text{
        font-size: 0.56rem;
    }
    .banner-cart-two{
        width: 9.375rem;
        height: 3.75rem;
        margin-top: -21.875rem;
        margin-left: 0.625rem;
        border: 1px solid red;
    }
    .cart-two-title{
        font-size: 1.125rem;
        letter-spacing: 1px;
    }
    .cart-two-text{
        font-size: 0.75rem;
    }
    .ball{
        /* position: absolute;
        margin-top: -30px; */
        width: 2.1875rem;
        height: 2.1875rem;
        margin-left: -.625rem;
        margin-top: 0.3125rem;
    }
}