@media screen and (max-width: 576px){
    .menu-bar{
        display: none;
    }
    .humburger-menu{
        display: block;
    }
    .humburger-menu i{
        font-size: 22px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        /* width: calc(100% - 40px); */
        /* width: calc(100% - 40px); */
        width: calc(80%);
        margin-left: 5%;
        margin-right: 15%;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        /* margin: 3.125rem 0; */
        /* margin: 1.25rem; */
        /* margin: 3.125rem; */
        /* margin: 3.125rem 1.25rem; */
        padding-top: 2rem;
        border: 1px solid red;
    }
    .header-banner{
        grid-template-columns: repeat(1, 1fr);
    }
    .header-banner h1{
        font-size: 2.5rem;
    }
    .banner-left{
        margin: 0;
        /* width: 352px; */
        height: 335px;
        /* width: calc(100% - 40px); */
        width: 80%;
        /* gap: 71px; */
        border: 1px solid red;
        margin-left: 5%;
        margin-right: 15%;
        /* margin: 51px 20px 48px 20px; */
    }
    .banner-left > h1{
        width: 17.8rem;
        height: 8.125rem;
    }
    .banner-btn{
        display: flex;
        justify-content: space-between;
        /* border: 2px solid red; */
    }
    .long-join{
        display: none;
    }
    .short-join{
        display: block;
        width: 10.625rem;
        font-size: .875rem;
        padding: .5rem .5rem;
    }
    .download-btn{
        width: 10.625rem;
        font-size: .875rem;
        padding: .5rem .5rem;
    }
    .banner-img{
        /* width: calc(100% - 40px); */
        /* margin: 30px 20px 0 20px; */
        width: 80%;
        margin-left: 5%;
        margin-right: 15%;
        border: 1px solid red;
    }
    .banner-cart-one{
        width: 8.25rem;
        height: 4.375rem;
        padding: 5px 0 5px 5px;
        /* margin-top: -37.25rem; */
        margin-top: -150%;
        /* margin-left: 13.125rem; */
        margin-left: 55%;
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
    }
    .cart-one-title{
        font-size: 1.825rem;
    }
    .cart-one-text{
        font-size: 0.56rem;
    }
    .banner-cart-two{
        width: 8.5rem;
        height: 3.75rem;
        /* margin-top: -21.875rem; */
        margin-top: -93%;
        /* margin-left: 0.625rem; */
        margin-left: 5%;
    }
    .cart-two-title{
        font-size: 1.125rem;
        letter-spacing: 1px;
    }
    .cart-two-text{
        font-size: 0.75rem;
    }
    .ball{
        /* position: absolute;
        margin-top: -30px; */
        width: 2.1875rem;
        height: 2.1875rem;
        margin-left: -.625rem;
        margin-top: 0.3125rem;
    }
    .habit-container{
        /* width: calc(100% - 80px); */
        width: 90%;
        height: auto;
        /* margin-left: 5%;
        margin-right: 15%; */
        margin-top: 0;
        border: 1px solid red;
    }
    .habit-title{
        font-size: 1.8rem;
        line-height: 2.375rem;
        width: 100%;
        border: 1px solid red;
    }
    .habit-last-container{
        grid-template-columns: repeat(1, 1fr);
        width: calc(100% - 80px);
        margin-left: 40px;
        margin-right: 40px;
        place-items: center;
        height: auto;
    }
    .habit-text{
        /* width: calc(100% - 160px);
        margin-left: 80px;
        margin-right: 80px; */
        width: 75%;
        margin: 0 auto;
        margin-top: 0.875rem;
        letter-spacing: 2px;
        border: 1px solid red;
    }
}